<div class='row'>
  <div class='col-md-6'>
    <h2>Редактирование профиля</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :nickname, 'Никнэйм' %>
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :timezone %>
        <%= f.select :timezone, ActiveSupport::TimeZone.all.map {|z| [to_utc_string(z), z.name]}, {}, class: 'select2 form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :bio, 'О себе' %>
        <%= f.text_area :bio, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>В данный момент ожидается подтверждение для: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password  do %>
           Пароль <i>(оставьте пустым что бы не менять)</i>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'Подтвердите пароль' %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <!--<div class="form-group">
        <%#= f.label :current_password do %>
          Текущий пароль <i>(нужен для подтверждения ваших текущих изменений)</i>
        <%# end %>
        <%#= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>-->

      <div class="form-group">
        <%= f.submit "Сохранить", class: 'btn btn-success btn-sm' %>
      </div>
    <% end %>
  </div>

  <div class='col-md-5 col-md-offset-1'>
    <h2>Мои игры</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>Название игры</th>
          <th>Роль</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.games.each do |game| %>
          <tr id='<%= game.id %>'>
            <td><%= link_to game.title, game_path(game) %></td>
            <td>
              <% if current_user.creator?(game) %>
                <span class="label label-warning">Мастер</span>
              <% else %>
                <span class="label label-success">Игрок</span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_game_path(game), class: 'btn btn-xs btn-warning' do %>
                <i class='fa fa-pencil'></i>
              <% end if current_user.creator?(game) %>

              <%= link_to game_path(game), class: 'btn btn-xs btn-danger',
                method: :delete, remote: true, data: {confirm: 'Вы уверены? Это действие нельзя будет отменить'} do %>
                <i class='fa fa-trash'></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>

  <div class='col-md-5 col-md-offset-1'>
    <h2>Удалить мой аккаунт</h2>

    <p><%= button_to "Удалить", registration_path(resource_name), data: { confirm: "Вы уверены? Это действие нельзя будет отменить" }, method: :delete, class: 'btn btn-danger btn-sm' %></p>

    <%#= link_to "Назад", :back %>
  </div>
</div>

