<div class='nested-fields'>
  <%= f.text_field :beginning_at, value: f.object.beginning_at.try(:strftime, '%d-%m-%Y %H:%M'), class: 'calendar' %><br />
  <%= f.text_area :description %><br />
  <%= image_tag(f.object.poster) if f.object.poster? %><br />
  <%= f.file_field :poster %><br />
  <%= f.hidden_field :poster_cache %>
  <p>
    <label>
      <%= f.check_box :remove_poster %>
      Remove avatar
    </label>
  </p>
  <%= link_to_remove_association t('.remove_event'), f %>
</div>
