<%= form_for @game, html: {multipart: true} do |f| %>
  <%= f.text_field :title, placeholder: t('.title') %><br />
  <%= f.select :players_amount, (1..10) %><br />
  <div id='tasks'>
    <%= f.fields_for :events do |event| %>
      <%= render 'event_fields', f: event %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association t('.add_event'), f, :events %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
