<div class='col-md-4'>
  <article>
    <h4><%= link_to game.title, game_path(game) %></h4>
    <span class='pull-right'>
      <i class='fa fa-clock-o'></i> <%= event.beginning_at.to_s(:time) %>
    </span>
    <p class='text-muted'><em><%= game.master.nickname || 'by Boris' %></em></p>
    <p><%= event.description %></p>
    <p>
      <span class='pull-left'><i class='fa fa-users'></i> <%= game.players.count %></span>
      <span class='pull-right'><i class='fa fa-gear'></i> TODO System</span>
    </p>
  </article>
</div>
