<div class='row'>
  <div class='col-md-9'>
    <div class='page-header'>
      <h2><%= @game.title %> <small>- Хроника</small></h2>
    </div>
    <% @game.events.asc(:beginning_at).each do |event| %>
      <article class='event-tile'>
        <%= image_tag event.poster.medium.url, class: 'bordered' %>
        <p>
          <strong><%= l event.beginning_at, format: :short %></strong><br />
          <%= event.description %>
        </p>
      </article>
    <% end %>
  </div>

  <div class='col-md-3'>
    <%= render 'management_panel', game: @game %>
  </div>
</div>
