<div class='row'>
  <div class='col-md-9'>
    <div class='page-header'>
      <h1><%= @game.title %> <small>(Хроника)</small></h1>
    </div>
    <% @game.events.desc(:beginning_at).each do |event| %>
      <article class='event-tile'>
        <%= image_tag event.poster.medium.url, class: 'bordered' %>
        <p class='text-right'>
          <b><%= l event.beginning_at, format: :short %></b>
        </p>
        <p>
          <%= event.description %>
        </p>
      </article>
    <% end %>
  </div>

  <div class='col-md-3 text-center'>
    <% if user_signed_in? %>
      <%= render 'management_panel', game: @game %>
    <% else %>
      <%= link_to t('.signin'), new_user_session_path %> | <%= link_to t('.register'), new_user_registration_path %>
    <% end %>
  </div>
</div>
