<div class='row'>
  <div class='col-md-9'>
    <div class='main-header'>
      <h1><%= @game.title %></h1>
    </div>
    <% @game.events.desc(:beginning_at).each do |event| %>
      <article class='event-tile'>
        <%= image_tag event.poster.medium.url, class: 'bordered' %>
        <p class='pre-wrap'><%= event.description.strip %></p>
      </article>
    <% end %>

    <hr />

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'adventurerkit';
      var disqus_title = '<%= @game.title %>';
      var disqus_url = '<%= request.original_url %>';
      var disqus_identifier = '<%= @game.title %>';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
  </div>

  <div class='col-md-3'>
    <h4 class='side-header'>Управление</h4>
    <% if user_signed_in? %>
      <%= render 'management_panel', game: @game %>
    <% else %>
      Войдите или зарегистрируйтесь для управления игрой.
    <% end %>

    <h4 class='side-header'>Информация</h4>
    <p>Система: <%= @game.game_system.name %><p>
    <p>Мастер: <%= @game.master.nickname %><p>
    <p>Количество игроков: <%= @game.players.count %><p>
    <p>Количество сессий: <%= @game.events.count %><p>

    <% if @game.events.exists? %>
      <p>Следующая сессия: <span class='text-danger'><%= @game.events.desc(:beginning_at).first.beginning_at.future? ? l(@game.events.desc(:beginning_at).first.beginning_at, format: :short) : 'Не назначена' %></span><p>
    <% end %>

    <h4 class='side-header'>Игроки</h4>
    <% if @game.players.exists? %>
      <% @game.players.each do |player| %>
        <p><%= player.nickname %></p>
      <% end %>
    <% else %>
      Игроков пока нет
    <% end %>
  </div>
</div>
