<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AdventureKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='wrapper'>
  <div class='container'>
    <div class='row navigation'>
      <div class='col-md-10'>
        <h3 class='pull-left logo'><%= link_to 'AdventureKit', root_path %></h3>
        <div class='col-md-3 col-md-offset-3'>
          <%= form_tag '/search', method: :get, role: 'form' do %>
            <%= text_field_tag 'q', nil, class: 'form-control', placeholder: 'Search adventurekit ...' %>
          <% end %>
        </div>
        <nav role="navigation" class='pull-right'>
          <ul class='nav nav-pills'>
            <li class='<%= active?(games_path) %>'><%= link_to t('.games'), games_path %></li>
            <!--<li class='<%#= active?('') %>'><%#= link_to t('.people'), root_path %></li>-->

            <% if user_signed_in? %>
              <li class='<%= active?('') %>'>
                <%= link_to edit_user_registration_path do %>
                  <i class='fa fa-gears'></i>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class='fa fa-sign-out'></i>
                <% end %>
              </li>
            <% else %>
              <%= render 'signin' %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <div class='row'>
      <section class='col-md-12'>
        <%= render 'messages' %>
        <%= yield %>
      </section>
    </div>
  </div>
  <div class='pre-footer'></div>
</div>

<footer>
  <div>
    <p class='text-left'>© 2015 AdventureKit</p>
  </div>
</footer>

</body>
</html>
