<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AdventureKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>

  <script type="text/javascript">
    I18n = {};
    I18n.defaultLocale = "<%= I18n.default_locale %>";
    I18n.locale = "<%= I18n.locale %>";
  </script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
</head>
<body>

<div class='wrapper'>
  <div class='container'>
    <div class='row navigation'>
      <div class='col-md-10'>
        <h3 class='pull-left logo'><%= link_to 'AdventureKit', root_path %></h3>
        <nav class='col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2' id='JS_react'></nav>
        <nav role="navigation" class='pull-right'>
          <ul class='nav nav-pills'>
            <li class='<%= active?(games_path) %>'><%= link_to t('.games'), games_path %></li>
            <!--<li class='<%#= active?('') %>'><%#= link_to t('.people'), root_path %></li>-->

            <% if user_signed_in? %>
              <li class='<%= active?('') %>'>
                <%= link_to edit_user_registration_path do %>
                  <i class='fa fa-gears'></i>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class='fa fa-sign-out'></i>
                <% end %>
              </li>
            <% else %>
              <%= render 'signin' %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>

    <div class='row'>
      <section id='JS_inner-content' class='col-md-12'>
        <%= render 'messages' %>
        <%= yield %>
      </section>
    </div>
  </div>
  <div class='pre-footer'></div>
</div>

<footer>
  <div>
    <p class='text-left'>© 2015 AdventureKit</p>
  </div>
</footer>

</body>
</html>
